{% extends 'base.html' %}

{% block content%}

    <div class=""container">
        <form method="post" >
        <div class="form-control w-full max-w-sm">
            <label class="label" for="fullname">
              <span class="label-text">What is your name?</span>
            </label>
            <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-sm" name="Data_Value" id="fullname" />
        </div>
        <input type="submit" class="btn">
        </form>
    </div>

    {% block js %}
    <script>
      // if the page is loaded
      $(function () {
        let form1 = $('#form3');
        // when the form is submitted, handle the form data
        form1.on('submit', (event) => {
          event.preventDefault();
          url = '/form3_ajax'
          $.ajax({
            url: url,
            type: 'POST',
            data: form1.serialize(),
            success: function (data) {
              console.log(data);
            }
          });
        })
      });
    </script>
    {% endblock %}
{% endblock content %}