{% extends 'base.html' %}


{% block content %}
<div class="container mx-auto">
    <form method="post" id="form1" class="mx-auto">
        <!-- sm here is the  size of item, we have options xs,sm,md,lg -->
        <div class="form-control w-full max-w-xs">
            <label class="label" for="email">
                <span class="label-text">Email Address</span>
            </label>
            <input type="email" placeholder="Type email here" class="input input-bordered w-full max-w-xs" name="email"
                id="email" />
        </div>
        <div class="form-control w-full max-w-xs">
            <label class="label" for="password">
                <span class="label-text">Password</span>
            </label>
            <input type="password" placeholder="Type password here" class="input input-bordered w-full max-w-xs"
                name="password" id="password" />
        </div>
        <div class="form-control w-full max-w-xs my-3">
            <button class="btn btn-xs sm:btn-sm md:btn-md">Login</button>
            <progress class="progress w-full max-w-xs my-1 invisible" id="form-progress"></progress>
        </div>
    </form>
</div>
{% endblock content %}

{% block js %}
<script>
    // if the page is loaded
    $(function () {
        let form1 = $('#form1');
        let pb = $('#form-progress');
        // when the form is submitted, handle the form data
        form1.on('submit', (event) => {
            event.preventDefault();
            pb.removeClass('invisible');
            url = '/login_api'
            // add a delay for 2 sec
            setTimeout(() => {
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: form1.serialize(),
                    success: function (data) {
                        status = data.status;
                        message = data.message;
                        console.log(data);
                        pb.addClass('invisible');
                        if (status == 'success') {
                            window.location.href = '{{nextaddr}}';
                        }
                        else {
                            Swal.fire(
                                'Oops...',
                                message,
                                'error'
                            )
                        }

                    },
                    error: function (data) {
                        console.log(data);
                        Swal.fire(
                            'Error!',
                            'There was an error',
                            'error'
                        )
                    }

                });
            }, 2000);
        })
    });
</script>
{% endblock %}