{% extends 'base.html' %}
{% block content %}

<div class="card lg:card-side bg-base-100 shadow-xl">
    <figure><img src="https://cdn.drawception.com/images/panels/2016/11-8/d8QgRhyDLx-4.png" alt="Album"></figure>
    <div class="card-body">
      <h2 class="card-title">New album is released!</h2>
      <p>Click the button to listen on Spotify app.</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Listen</button>
      </div>
    </div>
  </div>

{% endblock %}




<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photos</title>
</head>
<body>
    <h1>Open Music Application</h1>
    <ol>
        <li>Spotify</li>
        <li>Apple Music</li>
        <li>SoundCloud</li>
        <li>
            <a href="/">Home Page</a>
        </li>
    </o1>
    
</body>
</html> -->