{% extends 'base.html' %}


{% block content %}
<div class="container mx-auto">
    <form method="post" id="form3" class="mx-auto">
        <!-- sm here is the  size of item, we have options xs,sm,md,lg -->
        <h1>Collect Reviews of Product from Amazon</h1>
        <div class="form-control w-full">
            <label class="label" for="product_url">
                <span class="label-text">Product URL</span>
            </label>
            <input type="url" placeholder="Type Product Url here" class="input input-bordered w-full max-w-xs" name="product_url"
                id="product_url" />
        </div>
        <div class="form-control w-full max-w-xs my-3">
            <button class="btn btn-xs sm:btn-sm md:btn-md">Start Data Mining</button>
            <progress class="progress w-full max-w-xs my-1 invisible" id="form-progress"></progress>
        </div>
    </form>
</div>
{% endblock content %}

{% block js %}
<script>
    // if the page is loaded
    $(function () {
        let form1 = $('#form3');
        let pb = $('#form-progress');
        // when the form is submitted, handle the form data
        form1.on('submit', (event) => {
            event.preventDefault();
            pb.removeClass('invisible');
            url = '/scrapper_api'
            // add a delay for 2 sec
            setTimeout(() => {
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: form1.serialize(),
                    success: function (data) {
                        status = data.status;
                        message = data.message;
                        console.log(data);
                        pb.addClass('invisible');
                        if (status == 'success') {
                            window.location.href = '{{nextaddr}}';
                        }
                        else {
                            Swal.fire(
                                'Oops...',
                                message,
                                'error'
                            )
                        }

                    },
                    error: function (data) {
                        console.log(data);
                        Swal.fire(
                            'Error!',
                            'There was an error',
                            'error'
                        )
                    }

                });
            }, 2000);
        })
    });
</script>
{% endblock %}